html.js .loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999; }
  html.js .loader .loader_inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute; }

body {
  font-family: "exo2light", sans-serif;
  font-weight: normal;
  font-size: 18px;
  min-width: 1200px;
  position: relative;
  line-height: 1.6;
  color: #333;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden; }

body input:focus:required:invalid,
body textarea:focus:required:invalid {
  color: red; }

body input:required:valid,
body textarea:required:valid {
  color: green; }

.container {
  width: 1170px !important; }

h1 {
  font-size: 60px;
  font-family: "exo2medium", sans-serif;
  text-transform: uppercase;
  font-weight: normal; }

h2 {
  font-size: 48px;
  font-weight: normal; }

a:hover, a:focus, a:active {
  text-decoration: none;
  outline: none; }

.clearpad {
  padding: 0; }

.hidden {
  display: none; }

.top_line .logo_wrap {
  display: inline-block;
  width: 301px;
  position: relative;
  margin-right: 50px;
  top: -10px; }
  .top_line .logo_wrap img {
    width: 100%; }

.date_wrap {
  display: inline-block;
  width: 240px;
  height: 114px;
  background-image: url(../img/bg_date.jpg);
  background-size: cover;
  padding-left: 20px; }
  .date_wrap p {
    font-size: 14px;
    margin: 18px 0 0; }
  .date_wrap span {
    font-size: 20px; }
  .date_wrap .date_week {
    font-family: "exo2bold", sans-serif; }
  .date_wrap .week_img_wrap {
    margin-top: 9px; }
    .date_wrap .week_img_wrap .week_wrap {
      width: 26px;
      height: 4px;
      background-color: #25aae1;
      display: inline-block;
      float: left;
      margin-right: 1px; }
    .date_wrap .week_img_wrap .active {
      background-color: #00658f; }
    .date_wrap .week_img_wrap .weekend {
      background-color: #ed1c43; }

.contact_wrap {
  display: inline-block;
  float: right;
  text-align: center;
  margin-top: 10px; }
  .contact_wrap span {
    display: block;
    padding-left: 47px;
    font-size: 30px;
    color: #ed1c24;
    font-family: "exo2bold", sans-serif;
    position: relative; }
    .contact_wrap span::before {
      content: '';
      position: absolute;
      width: 46px;
      height: 35px;
      background-image: url(../img/ic_tel.jpg);
      top: 3px;
      left: 0; }

.btn {
  font-size: 16px;
  color: #0096e0;
  text-decoration: underline;
  display: block;
  position: relative;
  margin-top: 10px; }
  .btn:hover {
    color: #0096e0;
    text-decoration: none; }

.locate_wrap {
  width: 229px;
  height: 56px;
  background-color: #494949;
  -webkit-border-radius: 28px;
          border-radius: 28px;
  float: right;
  display: inline-block;
  position: relative;
  margin-top: 16px;
  margin-right: 50px;
  z-index: 10; }
  .locate_wrap p {
    display: block;
    z-index: 20;
    margin: 0;
    text-align: center;
    font-size: 18px;
    font-family: "exo2bold", sans-serif;
    line-height: 22px;
    margin-top: 5px;
    position: relative; }
  .locate_wrap::before {
    content: '';
    position: absolute;
    display: inline-block;
    width: 229px;
    height: 56px;
    background-color: #f38f32;
    background-image: -webkit-gradient(linear, left bottom, left top, from(#d3d4d5), to(#f6f6f6));
    background-image: -webkit-linear-gradient(bottom, #d3d4d5 0%, #f6f6f6 100%);
    background-image: linear-gradient(to top, #d3d4d5 0%, #f6f6f6 100%);
    -webkit-border-radius: 28px;
            border-radius: 28px;
    left: 0;
    bottom: 3px;
    z-index: 1; }

.menu {
  background-color: #f4faff; }
  .menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    font-size: 0; }
    .menu ul li {
      display: inline-block;
      font-size: 18px; }
      .menu ul li a {
        color: #00658f;
        padding: 27px 45px;
        border-right: 1px solid #e4eef6;
        display: block;
        -webkit-transition: all .3s ease;
        transition: all .3s ease; }
        .menu ul li a:hover {
          background-color: #e4eef6; }

.slider_home .slide {
  background-size: cover;
  background-position: center;
  min-height: 634px; }

.slider_home .slide1 {
  background-image: url(../img/slide1_home.jpg);
  position: relative; }
  .slider_home .slide1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: .7; }
  .slider_home .slide1 .title_wrap {
    padding: 0 75px;
    text-align: center;
    margin-top: 210px; }
    .slider_home .slide1 .title_wrap h1 {
      margin: 0;
      text-shadow: 0 2px 8px rgba(0, 0, 0, 0.8);
      color: white;
      line-height: 70px; }

.slider_home .slide2 {
  background-image: url(../img/slide2_home.jpg);
  text-align: center; }
  .slider_home .slide2 .title_wrap {
    text-align: center;
    margin-top: 210px;
    max-width: 730px;
    display: inline-block; }
    .slider_home .slide2 .title_wrap h2 {
      color: #006bb7;
      font-size: 60px;
      font-family: "exo2medium", sans-serif;
      text-transform: uppercase;
      font-weight: normal;
      line-height: 70px; }

.slider_home .slide3 {
  background-image: url(../img/slide3_home.jpg); }
  .slider_home .slide3 .title_wrap {
    text-align: left;
    margin-top: 170px;
    max-width: 630px;
    display: inline-block; }
    .slider_home .slide3 .title_wrap h3 {
      color: #019ed5;
      font-size: 48px;
      font-family: "exo2medium", sans-serif;
      text-transform: uppercase;
      font-weight: normal;
      line-height: 55px; }
      .slider_home .slide3 .title_wrap h3 span {
        color: #f00;
        display: block; }

.s_quality {
  background-image: url(../img/bg_quality.jpg);
  background-size: cover;
  background-position: center;
  min-height: 884px;
  margin-top: 7px; }
  .s_quality h3 {
    font-size: 48px;
    font-weight: normal;
    margin-top: 35px;
    line-height: 58px;
    margin-bottom: 0; }
  .s_quality p {
    margin: 10px 0 40px;
    line-height: 22px; }

.item_q {
  border: 2px solid #04aaed;
  margin-left: 70px;
  position: relative;
  padding: 5px 8px 26px 12px;
  margin-bottom: 14px; }
  .item_q::before {
    content: '';
    position: absolute;
    width: 41px;
    height: 30px;
    background-image: url(../img/ic_success.png);
    top: 18px;
    left: -70px; }
  .item_q span {
    font-size: 30px;
    text-transform: uppercase; }
  .item_q .btn {
    display: inline-block;
    position: absolute;
    right: 5px;
    bottom: 5px;
    float: right; }

.s_title_wrap {
  text-align: center; }
  .s_title_wrap h2 {
    margin-top: 0;
    color: #000;
    padding-top: 35px;
    line-height: 55px; }

.s_why {
  background-image: url(../img/bg_why.jpg);
  background-size: cover;
  background-position: center;
  min-height: 1273px; }

.item_wrap_why {
  margin: 0 70px;
  background-color: #eceeef;
  max-width: 1000px;
  margin-bottom: 30px; }
  .item_wrap_why__img {
    display: inline-block; }
  .item_wrap_why p {
    line-height: 24px;
    margin-left: 35px; }
    .item_wrap_why p span {
      font-family: "exo2bold", sans-serif; }
  .item_wrap_why ol {
    margin-left: 15px; }
    .item_wrap_why ol li {
      margin-bottom: 20px;
      line-height: 24px; }
      .item_wrap_why ol li span {
        font-family: "exo2bold", sans-serif; }

.item_wrap_why .left {
  float: left;
  margin-right: 35px; }

.item_wrap_why .right {
  float: right;
  margin-left: 35px; }

.color h2 {
  color: #fff; }

.s_video {
  background-image: url(../img/bg_video.jpg);
  background-size: cover;
  background-position: center;
  min-height: 775px;
  position: relative;
  text-align: center; }
  .s_video::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: .8; }
  .s_video .s_title_wrap h2 {
    margin-bottom: 15px; }
  .s_video p {
    color: #fff;
    padding: 0 120px;
    line-height: 24px;
    margin-top: 30px; }
  .s_video iframe {
    border: none; }

.s_table {
  background-image: url(../img/bg_table.jpg);
  background-size: cover;
  background-position: center;
  min-height: 1315px;
  position: relative;
  text-align: center; }
  .s_table::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #fff;
    opacity: .7; }
  .s_table .descr_wrap_table {
    display: inline-block;
    width: 65%; }
    .s_table .descr_wrap_table p {
      font-size: 22px;
      text-align: left; }
      .s_table .descr_wrap_table p span {
        color: #f00;
        font-family: "exo2medium", sans-serif; }
  .s_table .button_wrap {
    margin-top: 35px; }

.button {
  font-size: 30px;
  font-family: "exo2medium", sans-serif;
  text-transform: uppercase;
  background-color: #00a99d;
  -webkit-border-radius: 2px;
          border-radius: 2px;
  border-bottom: 3px solid #008178;
  color: #fff;
  padding: 10px 66px;
  -webkit-transition: all .3s ease;
  transition: all .3s ease; }
  .button:hover, .button:focus {
    color: #fff; }
  .button:hover {
    background-color: #00c3b5; }

.table_wrap {
  display: inline-block;
  width: 1000px; }

.table {
  background-color: #fff;
  width: 100%;
  text-align: left; }
  .table tr:first-child td:nth-child(2), .table tr:first-child td:nth-child(3) {
    font-size: 22px;
    font-family: "exo2medium", sans-serif;
    padding: 10px 15px; }
  .table tr:nth-child(2) td:first-child {
    font-size: 18px; }
  .table tr td {
    border: 1px solid #5b9bd5;
    width: 33%;
    padding: 5px 15px;
    line-height: 22px; }
    .table tr td span {
      font-family: "exo2semibold", sans-serif;
      display: block; }
    .table tr td .red_sp {
      color: #f00; }
    .table tr td:first-child {
      font-size: 22px;
      padding: 15px; }

.s_help {
  background-image: url(../img/bg_help.jpg);
  background-size: cover;
  background-position: center;
  min-height: 976px;
  position: relative;
  text-align: center; }
  .s_help::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: .6; }
  .s_help .s_title_wrap {
    padding: 0 120px; }

.item_help {
  width: 315px;
  height: 343px;
  display: inline-block;
  background-color: #fff;
  position: relative;
  overflow: hidden;
  margin: 8px; }
  .item_help__img {
    width: 100%;
    height: 270px;
    line-height: 270px; }
    .item_help__img img {
      max-width: 100%;
      height: auto; }
  .item_help__descr {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f2f2f2;
    top: 0;
    left: 0;
    padding: 0 10px;
    -webkit-transform: translateY(270px);
        -ms-transform: translateY(270px);
            transform: translateY(270px);
    -webkit-transition: all .5s ease;
    transition: all .5s ease; }
    .item_help__descr h4 {
      font-size: 20px;
      font-weight: normal;
      font-family: "exo2semibold", sans-serif;
      margin: 15px 0;
      line-height: 24px;
      height: 73px; }
    .item_help__descr p {
      font-family: "exo2regular", sans-serif;
      line-height: 22px; }
  .item_help:hover .item_help__descr {
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0); }

.s_price {
  text-align: center;
  padding-bottom: 220px; }
  .s_price .s_title_wrap {
    padding: 0 70px; }

.block_items_price h3 {
  font-size: 36px;
  color: #00aeef;
  font-weight: normal;
  margin-bottom: 10px; }

.block_items_price .item_price {
  width: 315px;
  height: 135px;
  border: 1px solid #00aeef;
  display: inline-block;
  margin: 0 10px;
  font-family: "exo2semibold", sans-serif; }
  .block_items_price .item_price p {
    font-size: 24px;
    margin: 17px 0; }
    .block_items_price .item_price p span {
      color: #f00; }
  .block_items_price .item_price h4 {
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    background-color: #00aeef;
    padding: 11px 0;
    font-weight: normal; }

.block_items_price .item_hit {
  position: relative; }
  .block_items_price .item_hit::before {
    content: '';
    position: absolute;
    width: 481px;
    height: 176px;
    background-image: url(../img/arrow_hit.png);
    right: -234px;
    bottom: -194px; }

.s_collective {
  background-image: url(../img/bg_collective.jpg);
  background-size: cover;
  background-position: center;
  min-height: 580px;
  position: relative;
  text-align: center;
  position: relative;
  padding-top: 110px; }
  .s_collective::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: #000;
    opacity: .6;
    z-index: 0; }

.descr_collective {
  display: inline-block;
  position: relative;
  z-index: 5;
  border: 3px solid white;
  padding: 30px 50px; }
  .descr_collective p {
    font-size: 48px;
    color: #fff;
    line-height: 54px;
    margin: 0;
    margin-bottom: 25px; }

.s_form {
  background-image: url(../img/bg_form.jpg);
  background-size: cover;
  background-position: center;
  min-height: 668px; }
  .s_form .s_title_wrap {
    margin-top: 50px; }
  .s_form .s_descr_wrap {
    font-size: 24px; }
    .s_form .s_descr_wrap ol {
      margin: 0 42px; }
      .s_form .s_descr_wrap ol li {
        line-height: 28px;
        margin-bottom: 35px; }

.my_form {
  background-color: rgba(202, 132, 32, 0.8);
  width: 100%;
  min-height: 668px;
  padding: 0 50px; }
  .my_form h4 {
    font-weight: normal;
    margin-top: 0;
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    padding-top: 25px;
    margin-bottom: 0; }
  .my_form input, .my_form button {
    width: 100%; }
  .my_form button {
    padding: 10px 0;
    border: none;
    display: block;
    margin-top: 5px; }
  .my_form input {
    -webkit-border-radius: 2px;
            border-radius: 2px;
    border: none;
    color: #333;
    padding: 10px;
    margin-bottom: 10px; }
  .my_form label {
    color: #fff;
    padding-left: 10px; }
